:root {
  /* Pokemon types */
  --rock: #b69e31;
  --ghost: #70559b;
  --steel: #b7b9d0;
  --water: #6493eb;
  --grass: #74cb48;
  --psychic: #fb5584;
  --ice: #9ad6df;
  --dark: #75574c;
  --fairy: #e69eac;
  --normal: #aaa67f;
  --fighting: #c12239;
  --flying: #a891ec;
  --poison: #a43e9e;
  --ground: #dec16b;
  --bug: #a7b723;
  --fire: #f57d31;
  --electric: #f9cf30;
  --dragon: #7037ff;
  /* greyscale */
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
  /* Font */
  --font-size-xs: 0.5rem;
  --font-size-s: 0.625rem;
  --font-size-m: 0.75rem;
  --font-size-l: 0.875rem;
  --font-size-xl: 1.5rem;
  --line-height: 1rem;
  --line-height-xl: 1.5rem;
  /* spacing */
  --xtiny: 0.25rem;
  --tiny: 0.5rem;
  --small: 0.75rem;
  --mini: 1rem;
  --base: 1.5rem;
  --medium: 2rem;
  --large: 3rem;
}
body {
  /*Font-family*/
  font-family: "Poppins", sans-serif;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.75rem;
  height: 25rem;
  background-color: var(--grass);
  border-radius: var(--small);
}
.card__title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--mini);
  /*Revisar margin*/
}

.pokemon__name {
  font-size: var(--font-size-xl);
  color: var(--white);
}
.pokemon__number {
  color: var(--white);
}
.card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  background-color: var(--background);
  border-radius: 0.5rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  height: 15rem;
  font-weight: bold;
}
.img__container {
  position: absolute;
  /* TODO modificar este top */
  top: -75px;
  width: 150px;
}
.pokemon__img {
  display: block;
  width: 100%;
  height: auto;
}
.pokemon__type__container {
  display: flex;
}
.pokemon__type {
  margin: 0 0.75rem;
  background-color: var(--grass);
  border-radius: 0.625rem;
  color: var(--white);
  padding: 0.125rem 0.6rem;
  font-size: var(--font-size-m);
}
.about {
  color: var(--grass);
  font-size: var(--font-size-l);
}
.text__info {
  font-weight: normal;
  font-size: var(--font-size-m);
  text-align: justify;
  padding: 0 1.25rem 0.5rem 1.25rem;
}
.pokemon__features {
  display: flex;
}

.pokemon__features > * {
  padding: 0 0.6rem;
  font-weight: normal;
  font-size: var(--font-size-l);
}
.pokemon__weight {
  box-sizing: border-box;
  border-right: 1px solid var(--light-gray);
}
.card__measure {
  display: flex;
  align-items: center;
}
.card__measure > * {
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}
.feature__description__tag {
  font-size: var(--font-size-m);
  text-align: center;
  color: var(--medium-gray);
}
.feature__icon {
  object-fit: contain;
}
