:root {
  /* Pokemon types */
  --rock: #b69e31;
  --ghost: #70559b;
  --steel: #b7b9d0;
  --water: #6493eb;
  --grass: #74cb48;
  --psychic: #fb5584;
  --ice: #9ad6df;
  --dark: #75574c;
  --fairy: #e69eac;
  --normal: #aaa67f;
  --fighting: #c12239;
  --flying: #a891ec;
  --poison: #a43e9e;
  --ground: #dec16b;
  --bug: #a7b723;
  --fire: #f57d31;
  --electric: #f9cf30;
  --dragon: #7037ff;
  /* greyscale */
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
  /* Font */
  --font-size-xs: 0.5rem;
  --font-size-s: 0.625rem;
  --font-size-m: 0.75rem;
  --font-size-l: 0.875rem;
  --font-size-xl: 1.5rem;
  --line-height: 1rem;
  --line-height-xl: 1.5rem;
  /* spacing */
  --xtiny: 0.25rem;
  --tiny: 0.5rem;
  --small: 0.75rem;
  --mini: 1rem;
  --base: 1.5rem;
  --medium: 2rem;
  --large: 3rem;
}
body {
  /*Font-family*/
  font-family: "Poppins", sans-serif;
  height: 100%;
}
.main_container {
  height: 100%;
}
.header_container {
  display: flex;
  align-items: center;
  padding: 1.125rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding-left: 2rem;
}

.header__pokeball__img {
  height: 1.5rem;
  width: 1.5rem;
}
.header_title {
  font-weight: bold;
  font-size: var(--font-size-xl);
  line-height: 2rem;
  margin-left: 1rem;
}

.searchbar_container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  box-sizing: border-box;
}
.searchbar_container-center {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
}

.searchbar_input {
  border: none;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
.searchbar_input:focus {
  outline: none;
}
.searchbar_input_img {
  position: absolute;
  padding-left: 0.4rem;
}

.cards__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  column-gap: 50px;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.75rem;
  height: 25rem;
  border-radius: var(--small);
}

.card__container--rock {
  background-color: var(--rock);
}
.card__container--ghost {
  background-color: var(--ghost);
}
.card__container--steel {
  background-color: var(--steel);
}
.card__container--water {
  background-color: var(--water);
}
.card__container--grass {
  background-color: var(--grass);
}
.card__container--psychic {
  background-color: var(--psychic);
}
.card__container--ice {
  background-color: var(--ice);
}
.card__container--dark {
  background-color: var(--dark);
}
.card__container--fairy {
  background-color: var(--fairy);
}
.card__container--normal {
  background-color: var(--normal);
}
.card__container--fighting {
  background-color: var(--fighting);
}
.card__container--flying {
  background-color: var(--flying);
}
.card__container--poison {
  background-color: var(--poison);
}
.card__container--ground {
  background-color: var(--ground);
}
.card__container--bug {
  background-color: var(--bug);
}
.card__container--fire {
  background-color: var(--fire);
}
.card__container--electric {
  background-color: var(--electric);
}
.card__container--dragon {
  background-color: var(--dragon);
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mini);

  font-weight: bold;

  /*Revisar margin*/
}

.card__pokemon-name {
  font-size: var(--font-size-xl);
  color: var(--white);
}

.card__pokemon-number {
  color: var(--white);
}

.card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
  align-items: center;

  background-color: var(--background);
  border-radius: 0.5rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  height: 15rem;

  font-weight: bold;
}

.card__img__container {
  position: absolute;
  /* TODO modificar este top */
  top: -100px;
  width: 9.375rem;
}
.card__pokemon__img {
  display: block;
  width: 100%;
  height: auto;
}
.card__pokemon__type__container {
  display: flex;
}
.card__pokemon__type {
  margin: 0 0.75rem;
  background-color: var(--grass);
  border-radius: 0.625rem;
  color: var(--white);
  padding: 0.125rem 0.6rem;
  font-size: var(--font-size-m);
}

.card__pokemon__type--rock {
  background-color: var(--rock);
}
.card__pokemon__type--ghost {
  background-color: var(--ghost);
}
.card__pokemon__type--steel {
  background-color: var(--steel);
}
.card__pokemon__type--water {
  background-color: var(--water);
}
.card__pokemon__type--grass {
  background-color: var(--grass);
}
.card__pokemon__type--psychic {
  background-color: var(--psychic);
}
.card__pokemon__type--ice {
  background-color: var(--ice);
}
.card__pokemon__type--dark {
  background-color: var(--dark);
}
.card__pokemon__type--fairy {
  background-color: var(--fairy);
}
.card__pokemon__type--normal {
  background-color: var(--normal);
}
.card__pokemon__type--fighting {
  background-color: var(--fighting);
}
.card__pokemon__type--flying {
  background-color: var(--flying);
}
.card__pokemon__type--poison {
  background-color: var(--poison);
}
.card__pokemon__type--ground {
  background-color: var(--ground);
}
.card__pokemon__type--bug {
  background-color: var(--bug);
}
.card__pokemon__type--fire {
  background-color: var(--fire);
}
.card__pokemon__type--electric {
  background-color: var(--electric);
}
.card__pokemon__type--dragon {
  background-color: var(--dragon);
}

.about--rock {
  color: var(--rock);
}
.about--ghost {
  color: var(--ghost);
}
about--steel {
  color: var(--steel);
}
.about--water {
  color: var(--water);
}
.about--grass {
  color: var(--grass);
}
about--psychic {
  color: var(--psychic);
}
.about--ice {
  color: var(--ice);
}
.about--dark {
  color: var(--dark);
}
.about--fairy {
  color: var(--fairy);
}
.about--normal {
  color: var(--normal);
}
.about--fighting {
  color: var(--fighting);
}
.about--flying {
  color: var(--flying);
}
.about--poison {
  color: var(--poison);
}
.about--ground {
  color: var(--ground);
}
.about--bug {
  color: var(--bug);
}
.about--fire {
  color: var(--fire);
}
.about--electric {
  color: var(--electric);
}
.about--dragon {
  color: var(--dragon);
}

.about {
  font-size: var(--font-size-l);
}
.card__text__info {
  padding: 0 1.25rem 0.5rem 1.25rem;

  font-weight: normal;
  font-size: var(--font-size-m);
  text-align: justify;
  line-height: 1rem;
}
.card__pokemon__features__container {
  display: flex;
}

.card__pokemon__features__container > * {
  padding: 0 0.6rem;

  font-weight: normal;
  font-size: var(--font-size-l);
}
.card__pokemon__feature-weight {
  box-sizing: border-box;
  border-right: 1px solid var(--light-gray);
}
.card__feature__height_container {
  display: flex;
  align-items: center;
}
.card__feature__weight_container {
  display: flex;
  align-items: center;
}
.card__feature__weight_container > * {
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}
.card__feature__height_container > * {
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}
.card__feature__description__tag {
  text-align: center;
  font-size: var(--font-size-m);

  color: var(--medium-gray);
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem 0rem;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--light-gray);
  margin-top: 3rem;
}

.footer__github__img {
  height: 1.5rem;
  width: 1.5rem;
}
.footer__pokeapi__img {
  height: 2.62rem;
}
