:root {
  /* Pokemon types */
  --rock: #b69e31;
  --ghost: #70559b;
  --steel: #b7b9d0;
  --water: #6493eb;
  --grass: #74cb48;
  --psychic: #fb5584;
  --ice: #9ad6df;
  --dark: #75574c;
  --fairy: #e69eac;
  --normal: #aaa67f;
  --fighting: #c12239;
  --flying: #a891ec;
  --poison: #a43e9e;
  --ground: #dec16b;
  --bug: #a7b723;
  --fire: #f57d31;
  --electric: #f9cf30;
  --dragon: #7037ff;
  /* greyscale */
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
  /* Font */
  --font-size-xs: 0.5rem;
  --font-size-s: 0.625rem;
  --font-size-m: 0.75rem;
  --font-size-l: 0.875rem;
  --font-size-xl: 1.5rem;
  --line-height: 1rem;
  --line-height-xl: 1.5rem;
  /* spacing */
  --xtiny: 0.25rem;
  --tiny: 0.5rem;
  --small: 0.75rem;
  --mini: 1rem;
  --base: 1.5rem;
  --medium: 2rem;
  --large: 3rem;
}
body {
  /*Font-family*/
  font-family: "Poppins", sans-serif;
  height: 100%;
}
.main_container {
  height:100%;

}
.header_container{
  display: flex;
  align-items: center;
  padding:1.125rem 0;
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.25);;

}

.header__pokeball__img{
  height: 1.5rem;
  width: 1.5rem;
}
.header_title{
font-weight: bold;
font-size: var(--font-size-xl);
line-height: 2rem;
}

.searchbar_container{
  display:flex;
  align-items: center;
  margin:2rem 0;
  box-sizing: border-box;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
 width: fit-content;
}

.searchbar_input{
    border:none;
justify-content: space-around;
}

.searchbar_img{

}


.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.75rem;
  height: 25rem;
  background-color: var(--grass);
  border-radius: var(--small);
}
.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mini);

  font-weight: bold;

  /*Revisar margin*/
}

.card__pokemon-name {
  font-size: var(--font-size-xl);
  color: var(--white);
}

.card__pokemon-number {
  color: var(--white);
}

.card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
  align-items: center;

  background-color: var(--background);
  border-radius: 0.5rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  height: 15rem;

  font-weight: bold;
}

.card__img__container {
  position: absolute;
  /* TODO modificar este top */
  top: -100px;
  width: 9.375rem;
}
.card__pokemon__img {
  display: block;
  width: 100%;
  height: auto;
}
.card__pokemon__type__container {
  display: flex;
}
.card__pokemon__type {
  margin: 0 0.75rem;
  background-color: var(--grass);
  border-radius: 0.625rem;
  color: var(--white);
  padding: 0.125rem 0.6rem;
  font-size: var(--font-size-m);
}
.about {
  color: var(--grass);
  font-size: var(--font-size-l);
}
.card__text__info {
  padding: 0 1.25rem 0.5rem 1.25rem;

  font-weight: normal;
  font-size: var(--font-size-m);
  text-align: justify;
  line-height: 1rem;
}
.card__pokemon__features__container {
  display: flex;
}

.card__pokemon__features__container > * {
  padding: 0 0.6rem;

  font-weight: normal;
  font-size: var(--font-size-l);
}
.card__pokemon__feature-weight {
  box-sizing: border-box;
  border-right: 1px solid var(--light-gray);
}
.card__feature__height_container {
  display: flex;
  align-items: center;
}
.card__feature__weight_container {
  display: flex;
  align-items: center;
  
}
.card__feature__weight_container > * {
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}
.card__feature__height_container > * {
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}
.card__feature__description__tag {
  text-align: center;
  font-size: var(--font-size-m);

  color: var(--medium-gray);
}


.footer_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  position: absolute;
  padding:0.75rem 0rem;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--light-gray);
}

.footer__github__img{
  height: 1.5rem;
  width: 1.5rem;
}
.footer__pokeapi__img{
    height: 2.62rem;

}